.wrapper {
  display: grid;
  grid-template-rows: 90% 10%;
  .card {
    background: var(--welcome-card-background);
    border-radius: 8px;
    margin: 16px 16px 0;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    > img {
      height: 16vh;
    }
    > h2 {
      margin-top: 40px;
    }
  }
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-size: 24px;
  }
}