.customTime {
  background: var(--button-bg);
  width: 80vw;
  
  > header {
    background: var(--main);
    padding: 12px 16px;
    font-weight: 800;
    font-size: 24px;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    > button {
      width:  25.44vw;
      border-radius: var(--button-radius);
      font-size: 18px;
      line-height: 23px;
    }
    .submit {
      background: var(--buttonPro-bg);
      color: var(--buttonPro-color);
      border: none;
    }
  }
}