.wrapper {
  height: calc(100vh - var(--welcome-bottom-nav-height));
  display: grid;
  grid-template-rows: 20% auto;
  background-image: linear-gradient(16deg, var(--welcome-bg-start) 0%, var(--welcome-bg-end) 100%);
  margin-bottom: var(--welcome-bottom-nav-height);
  > header {
    display: grid;
    justify-content: center;
    align-content: end;
    justify-items: center;
    align-items: end;
  
    > img {
      height: 8vh;
    }
  }
  > main {
    display: grid;
  }
}