:root {
  --welcome-card-background: white;
  --welcome-bg-start: #ffecd2;
  --welcome-bg-end: #fcb69f;
  --welcome-bg-bottom-nav-end: #fee3ca;
  --welcome-bottom-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
}