:root {
  --welcome-card-background: white;
  --welcome-bg-start: #ffecd2;
  --welcome-bg-end: #fcb69f;
  --welcome-bg-bottom-nav-end: #fee3ca;
  --welcome-bottom-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --navbar-bg: white;
  --navbar-title-font-size: 24px;
  --tabs-border: #1d1d3c;
  --tab-selected-bg: #ffc952;
  --inputPad-border: #282828;
}