:root {
  --welcome-card-background: white;
  --welcome-bg-start: #ffecd2;
  --welcome-bg-end: #fcb69f;
  --welcome-bg-bottom-nav-end: #fee3ca;
  --welcome-bottom-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --navbar-bg: white;
  --navbar-title-font-size: 24px;
  --tabs-border: #1d1d3c;
  --tab-selected-bg: #ffc952;
  --inputPad-border: #282828;
  --button-bg: white;
  --buttons-bg: #282828;
  --buttonPro-bg: #47b8e0;
  --buttonPro-color: white;
  --input-min-height: 48px;
  --input-border-color: #1d1d3c;
  --input-shadow: rgba(0,0,0,0.25);
  --error-color: #E10505;
  --emoji-nav-text: #999;
  --emoji-nav-text-selected: #1d1d3c;
  --input-radius: 8px;
  --button-radius: var(--input-radius);
  --tabs-shadow: #e8e8e8;
  --tag-bg: #333;
  --total-bg: #ffc952;
  --button-border-color: var(--input-border-color);
  --list-tag-text: #0e0e0f;
  --list-amount-text: #fec84a;
  --list-time-text: #050505;
  --van-black: red;
}